{% extends "base.html" %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block content %}
{% block title %}Assanj Password Reset page{% endblock title %}
<br>
<br>
<br>
<br>
<div class='container'>
        <div class='description'>
                <h2>Reset your password</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class='btn btn-primary'>Reset my password</button>
                </form>
        </div>
</div>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}
