{% extends "base.html" %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block title %}Assanj register page{% endblock title %}
{% block description %}Register with Assanj and start surfing the streets right now!{% endblock description %}
{% block keywords %}assanj register, assanj register, register with street shop, register with street stalls{% endblock keywords %}
{% block content %}
<br>
<br>
<br>
<br>

<div class="container-sm">
      <br>
      <div class='container'>
          <h1 class='Menu-title'>Register</h1>
        <form method="post" class='Menu-title'>
          {% csrf_token %}
            {{form|crispy}}
            <p>Already have an account? <br>   
              <a href={% url 'login'%}>Login<br><br>
            </p>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
        <br>
    </div>
{% endblock content %}
